/* font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(233, 233, 233);
}

.wrapper {
  background-color: rgb(255, 255, 255);
  width: 600px;
  box-shadow: 0px 0px 10px black;
}
.wrapper__header {
  height: 200px;
  background-color: rgb(0, 204, 0);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3 {
  margin-top: 10px;
}
.wrapper__inputs {
  padding: 20px 40px;
}
label {
  display: block;
  padding: 4px 0px;
  margin-bottom: 10px;
  font-size: 22px;
}
input,
select {
  margin-bottom: 25px;
  padding: 10px 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(185, 185, 185);
}
.count {
  display: block;
  margin: 20px auto;
  padding: 20px 10px;
  color: white;
  width: 60%;
  font-size: 24px;
  border-radius: 8px;
  background-color: rgb(0, 204, 0);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.count:hover {
  background-color: rgb(0, 168, 59);
}
#tip {
  margin-top: 10px;
}
.cost-info {
  margin-top: 30px;
  font-size: 20px;
  display: none;
}
.cost {
  font-weight: bold;
}
.error {
  font-size: 18px;
  color: rgb(199, 63, 29);
}
